* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

:root {
  font-family: 'Courier New';
  color: #33ff33;
  background-color: #252525;
}

a:link {
  color: #33ff33;
}

a:visited {
  color: #23aa23;
}
